// My global setup styles
// background: linear-gradient(30deg, #FFC0CB 50%, #00FFFF 50%);
// color variables***********************
$white: #fff;
$extralightgrey1: #f7f8fa;
$extralightgrey2: #fdfdfd;
$bordergrey1: #dedfe1;
$bordergrey2: #d9d9d9;
$lightgrey: #a8a8a8;
$normalgrey: #9e9e9e;
$darkgrey: #898989;
$yellow: #ffc400;
$primary-green: #13a0b2;
$darkblue: #282f39;
$primary-black: #323232;

.nopadding{
    padding: 0;
    margin: 0;
}
// end of color variables****************
*{
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}
p{
    padding: 0;
    margin: 0;
}
a:hover{
    text-decoration: none;
}
.container{
    max-width: 1170px;
}
// End of my styles
// start of navbar section
.nav-bar{
    background-color: $lightgrey;
    min-height: 70px;
    .nav-logo{
        padding: 18px 0;
        a{
            font-size: 35px;
            letter-spacing: 1px;
            line-height: 25px;
            color: $primary-green;
            font-weight: 700;
        }
        a:hover span{
            color: $primary-green;
        }
        span{
            color: $white;
            transition: all 0.5s ease-in-out;
        }
    }
    .nav-topmenu{
        margin: 20px 0;
        float: right;
        a.top-menu{
            font-size: 16px;
            line-height: 26px;
            color: $white;
            font-family: "Lato";
            font-weight: 700;
            margin: 0 15px;
            transition: all 0.5s ease-in-out;
            }
        a:hover{
            color: $primary-green;
            }
        }
    .nav-shopbag{
    position: relative;
    margin: 20px 0;
        a.shop-bag{
            position: absolute;
            top: 5px;
            color: $white;
            transition: all 0.5s ease-in-out;

        }
        a:hover{
            color: $primary-green;
        }
        p.shop-count{
            position: absolute;
            color: $primary-green;
            font-size: 12px;
            line-height: 26px;
            font-weight: 700;
            top: -5px;
            left: 22px;
        }
    }
}
// end of navbar section
.main-intro{
    background-color: $normalgrey;
    .main-inner{
        max-width: 610px;
        padding: 190px 0 180px;
        h1.main-text{
            font-size: 60px;
            line-height: 68px;
            color: $white;
            font-weight: 900;
            margin-bottom: 20px;
            text-transform: capitalize;
        }
        p.main-description{
            font-size: 22px;
            line-height: 35px;
            color: $white;
            margin-bottom: 60px;
        }
        .main-btn{
            .contact-btn{
                padding: 15px 40px;
                border: 1px solid transparent;
                border-radius: 5px;
                font-size: 18px;
                line-height: 20px;
                color: $white;
                font-family: "Lato";
                font-weight: 600;
                margin-right: 30px;
                transition: all 0.5s ease-in-out;
            }
            .read-btn{
                padding: 15px 40px;
                border: 1px solid transparent;
                background-color: $primary-green;
                border-radius: 5px;
                font-size: 18px;
                line-height: 20px;
                color: $white;
                font-family: "Lato";
                font-weight: 600;
                transition: all 0.5s ease-in-out;

            }
            .contact-btn:hover, .read-btn:hover{
                color: $primary-green;
                background-color: $white;
            }
        }
    }
}
// start of header main
// end of header main
// start of text choose us section
.choose-us{
    background-color: $white;
    padding: 125px 0;
    .choose-carts{
        .choose-cart{
        display: flex;
        justify-content: space-between;
            .cart-img{
                margin-right: 15px;
            }
            h3.cart-title{
                text-transform: capitalize;
                font-size: 24px;
                color: $primary-black;
                font-weight: 600;
            }
            p.cart-short{
                text-transform: uppercase;
                font-size: 14px;
                color: $darkgrey;
                font-family: "Lato";
                font-weight: 400;
            }
            p.cart-description{
                font-size: 15px;
                line-height: 24px;
                color: #898989;
                font-family: "Lato";
                font-weight: 400;
            }
        }
    }
}
.text-intro{
    h1{
        text-transform: capitalize;
        position: relative;
        font-size: 36px;
        line-height: 28px;
        color: $primary-black;
        font-weight: 700;
        margin-bottom: 50px;
    }
    h1:after{
        background-color: #13a0b2;
        bottom: -25px;
        content: '';
        display: block;
        height: 3px;
        left: 50%;
        position: absolute;
        transform: translate(-50%,0);
        width: 60px;
    }
    p{
        font-size: 18px;
        line-height: 28px;
        color: $darkgrey;
        font-family: "Lato";
        margin-bottom: 50px;
    }
    
}
// end of choose us section
// start of properties section
.properties{
    height: 770px;
    background: linear-gradient(90deg, $normalgrey 50%, $primary-green 50%);
    .properties-inner{
        max-width: 925px;
        max-height: 520px;
        background-color: $white;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        .property-line{
            display: flex;
            .property-number{
                background-color: $primary-green;
                h1{
                    font-size: 70px;
                    color: #ffffff;
                    font-weight: 900;
                }
            }
            .property-text{
                background-color: $white;
                h3{
                    font-size: 24px;
                    color: $primary-black;
                    font-weight: 600;
                    margin-bottom: 15px;
                }
                p{
                    font-size: 15px;
                    color: $darkgrey;
                    font-family: "Lato";
                    font-weight: 400;
                }
            }
        }
    }
}
// end of properties section
// start of features section
.features{
    background-color: $extralightgrey1;
    padding: 125px 0 95px;
    .features-inner{
        .features-box{
            border: 1px solid $bordergrey1;
            padding: 35px 40px 20px;
            background-color: $extralightgrey2;
            text-align: center;
            margin-bottom: 30px;
            .box-icon{
                margin-bottom: 25px;

            }
            .box-text{
                h3{
                    font-size: 22px;
                    color: $primary-black;
                    font-weight: 600;
                    margin-bottom: 15px;
                }
                p{
                    font-size: 15px;
                    line-height: 26px;
                    color: $darkgrey;
                    font-family: "Lato";
                    font-weight: 400;
                }
            }
        }
    }
}
// end of features section
// start of product content
.product{
    padding: 125px 0 100px;
    background-color: $normalgrey;
    .product-content{
        h1,p{
            color: $white;
        }
    }
    .product-boxes{
        .product-box{
            position: relative;
            max-width: 370px;
            height: 355px;
            padding: 60px 0 30px;
            background-color: $white;
            text-align: center;
            margin-bottom: 30px;
            img{
                margin-bottom: 40px;
            }
            h3.product-title{
                font-size: 24px;
                color: $primary-black;
                font-weight: 600;
            }
            p.product-price{
                font-size: 36px;
                color: $primary-green;
                font-weight: 700;
            }
        }
        .product-box:hover {
            background-image: url(../img/product-hover.png);
        }
        .product-box:hover h3{
            display: none;
        }
        .product-box:hover p{
            display: none;
        }
        .product-box:hover img.product-img{
            display: none;
        }
        .product-box img.product-icon1, img.product-icon2{
            display: none;
        }
        .product-box:hover img.product-icon1{
            display: block;
        }
        .product-box:hover img.product-icon2{
            display: block;
        }
        .product-icon1{
            position: absolute;
            top: 165px;
            left: 125px;
        }
        .product-icon2{
            position: absolute;
            top: 165px;
            left: 210px;
        }
    }
}
// end of product content
// start of testimonial
.testimonial{
    padding: 130px 0;
    .user-rate{
        li{
            display: inline-block;
        }
        color: $yellow;
    }
}
.review-box{
    padding: 35px 30px;
    text-align: center;
    border: 1px solid $bordergrey2;
    margin-bottom: 30px;
    img{
        margin-bottom: 20px;
    }
    h5{
        font-size: 18px;
        line-height: 28px;
        color: $primary-black;
        font-weight: 700;
        margin-bottom: 25px;
    }
    h5:after{
        background-color: $primary-green;
        top: 150px;
        content: '';
        display: block;
        height: 1px;
        left: 50%;
        position: absolute;
        transform: translate(-50%,0);
        width: 30px;
    }
    p{
        font-size: 15px;
        line-height: 24px;
        color: $normalgrey;
        font-family: "Lato";
        font-weight: 400;
    }
}
// end of testimonial
// start of statistics section
.statistics{
    padding: 60px 0;
    background-color: $primary-green;
    .statistics-inner{
        display: flex;
        justify-content: space-between;
        .statistic-box{
            padding: 0 25px;
            h3{
                position: relative;
                font-size: 45px;
                color: $white;
                font-weight: 600;
                margin-bottom: 30px;
            }
            h3:after{
                background-color: $white;
                content: '';
                bottom: -10px;
                display: block;
                height: 3px;
                left: 17%;
                position: absolute;
                transform: translate(-50%,0);
                width: 40px;
            }
            p{
                font-size: 24px;
                color: $white;
                font-weight: 600;
            }
            span{
                font-size: 24px;
                color: $white;
                font-weight: 400;

            }
        }
    }
}
// end of statistics section
// start of blog section
.blog{
    padding: 130px 0;
    .blog-post{
        position: relative;
        img{
        margin-bottom: 25px;
        }
        h3.post-title{
            font-size: 22px;
            color: $primary-black;
            font-weight: 600;
            margin-bottom: 20px;
        }
        p.post-paragraph{
            font-size: 15px;
            line-height: 26px;
            color: $normalgrey;
            font-family: "Lato";
            font-weight: 400;
            margin-bottom: 15px;
        }
        a.post-btn{
            font-size: 15px;
            color: $normalgrey;
            font-family: "Lato";
            font-weight: 400;
            transition: all 0.5s ease-in-out;
        }
        a:hover{
            color: $primary-green;
        }
        span{
            font-size: 12px;
        }
    }
}
.post-date{
    position: absolute;
    left: 40px;
    top: 1px;
    p.date{
        text-align: center;
        padding: 5px 10px;
        background-color: $primary-green;
        font-size: 24px;
        color: $white;
        font-family: "Lato";
        font-weight: 700;
    }
    p.month{
        text-align: center;
        padding: 5px 10px;
        background-color: $white;
        font-size: 16px;
        color: $primary-green;
        font-family: "Lato";
        font-weight: 700;
        text-align: center;
    }
}
// end of blog section
// start of contact section
.contact-form{
    background-color: $extralightgrey2;
    padding-top: 130px;
    .contact-title{
        h3{
            position: relative;
            font-size: 36px;
            letter-spacing: 1px;
            color: $primary-black;
            font-weight: 700;
            margin-bottom: 45px;
        }
            h3:after{
                background-color: $primary-green;
                content: '';
                top: 65px;
                display: block;
                height: 3px;
                left: 5%;
                position: absolute;
                transform: translate(-50%,0);
                width: 50px;
            }
        }
    }
    .contact-inner{
        padding: 20px;
        max-width: 460px;
        input[type=text],[type=email]{
            width: 100%;
            margin-bottom: 10px;
            border: none;
            height: 30px;
            padding: 5px;
            background-color: $extralightgrey2;
        }
        label{
            font-size: 15px;
            color: $darkgrey;
            font-family: "Lato";
            margin-bottom: 10px;
            background-color: $extralightgrey2;
        }
        label[for='select']{
            padding-bottom: 70px;
        }
        select{
            float: right;
            border: none;
            background-color: $extralightgrey2;
        }
        textarea{
            width: 100%;
            margin-bottom: 10px;
            border: none;
            height: 130px;
            background-color: $extralightgrey2;
        }
        .submit-btn{
            margin-left: 40px;
            font-size: 18px;
            color: $primary-green;
            font-family: "Lato";
            font-weight: 700;
            border: none;
            background-color: none;
        }
    }
// end of contact section
// start of company-info
.company-info{
    padding: 70px 0;
    background-color: $darkblue;
    img{
        margin-bottom: 25px;
    }
    p{
        text-align: center;
        font-size: 18px;
        color: $white;
        font-family: "Lato";
        font-weight: 400;
    }
}
// end of company-info
// start of footer
.footer{
    padding: 65px 0;
    .social-links{
        margin-bottom: 15px;
        ul,li{
            display: inline-block;
        }
        a.social-btn{
            margin: 0 15px;
            color: $primary-black;
        }
        svg{
            transition: all 0.5s ease-in-out;
        }
        .social-btn:hover svg{
            transform: translateY(-10px);
        }
    }
    .page-copyright{
        font-size: 16px;
        line-height: 24px;
        color: $primary-black;
        font-family: "Lato";
        font-weight: 400;
        text-align: center;
        span{
            color: $primary-green;
            font-weight: 600;
        }
    }
}
// end of footer